{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {},
    "sourceType": "module"
  },
  "root": true,
  "rules": {}
}
