body{
    margin: 0px;
}

.info {
    margin: 0 auto;
    width: 80%;
}

div p {
    text-align: left;
    color: #000000;
    font-size: 14px;
    font-family: helvetica;
}

.hero-image {
    display: block;
    width: auto;
    height: auto;
    background-image: url("./images/bb-photo1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.more-photos {
    margin: 0;
    padding-left: 0.5%;
    color: #ff5d00;
    font-size: 15px;
    font-weight: normal;
}

.second-nav {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

.social-home {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.social-link {
    display: inline-block;
    margin: auto 60px;
    text-align: center;
    font-size: 22px;
}

/*.foot-step {
    border-bottom: 2px solid #000000;
    margin: 5px auto;
    width: 520px;
}*/

.sub-title {
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    margin-top: 0;
    color: #ff5d00;
    margin-bottom: 45px;
    text-decoration: bold;
}

span {
    color: #ff5d00;
}

p {
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    margin-top: 0;
    color: #000000;
    margin-bottom: 20px;
    text-decoration: bold;
}

nav {
    text-align: center;
    margin: 0px auto;
}

a {
    margin: 0 5%;
    font-size: 150%;
    font-family: helvetica;
    text-decoration: none;
    color: #000000;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 300.583333%;
    font-family: Helvetica;
    margin-bottom: 0;
    margin-top: 40px;
}

h2 {
    float: right;
    font-size: 34px;
    padding-right: 20px;
    margin: auto;
    color: #ffffff;
}

h3 {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: lighter;
    margin: 20px auto;
}

h4{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

h5 {
    color: #ffffff;
    display: inline-block;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 0.9;
    text-align: center;
}

h6 {
    color: #ff5d00;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

/*copy content for dropdown menu*/
.dropbtn {
    background-color: #000000;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ff5d00;
}

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-top: 2.5px;
}

.dropdown-content {
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
