.info {
    margin: 0 auto;
    width: 80%;
}

div p {
    text-align: left;
    color: #000000;
    font-size: 14px;
    font-family: helvetica;
}

.photo-1 {
    display: block;
    max-width: 100%;
    height: 900px;
    /*margin: 0 auto;*/
    background-image: url("./images/bb-photo1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.bb-photo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.in-text {
    margin: 0;
    padding-left: 0.5%;
    color: #ff5d00;
    font-size: 15px;
}

.second-nav {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

.social-home {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.social-link {
    margin: auto 60px;
    text-align: center;
    font-size: 22px;
}

.foot-step {
    border-bottom: 2px solid #000000;
    margin: 5px auto;
    width: 520px;
}

.sub-title {
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    margin-top: 0;
    color: #ff5d00;
    margin-bottom: 45px;
    text-decoration: bold;
}

span {
    color: #ff5d00;

}

p {
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    margin-top: 0;
    color: #000000;
    margin-bottom: 45px;
    text-decoration: bold;
}

nav {
    text-align: center;
}

a {
    margin: 0 40px;
    font-size: 22px;
    font-family: helvetica;
    text-decoration: none;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 44px;
    font-family: Helvetica;
    margin-bottom: 0;
    margin-top: 40px;
}

h2 {
    float: right;
    font-size: 34px;
    padding-right: 20px;
    margin: auto;
    color: #ffffff;
}

h3 {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: lighter;
    margin: 20px auto;
}

h5 {
    display: inline-block;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 320px;
}

h6 {
    margin: 0;
}

footer {
    background-color: pink;
}
