body {
    margin: 0;
}

.info {
    margin: 0 auto;
    width: 80%;
}

div p {
    color: #000000;
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
}

.hero-image {
    background-image: url('./images/bb-photo1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    text-align: center;
    width: auto;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.more-photos {
    color: #ff5d00;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding-left: 0.5%;
}

.second-nav {
    background-color: #000000;
    height: auto;
    text-align: center;
    width: 100%;
}

.social-home {
    display: inline-block;
    margin: 0 auto;
    width: auto;
}

.social-link {
    display: inline-block;
    font-size: 22px;
    margin: auto 60px;
    text-align: center;
}


/*.foot-step {
    border-bottom: 2px solid #000000;
    margin: 5px auto;
    width: 520px;
}*/

.sub-title {
    color: #ff5d00;
    font-family: Open Sans;
    font-size: 20px;
    margin-bottom: 45px;
    margin-top: 0;
    text-align: center;
    text-decoration: bold;
}

span {
    color: #ff5d00;
}

p {
    color: #000000;
    font-family: Open Sans;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    text-decoration: bold;
}

nav {
    margin: 0 auto;
    text-align: center;
}

a {
    color: #000000;
    display: inline;
    font-family: helvetica;
    font-size: 150%;
    margin: 0 5%;
    text-decoration: none;
}

h1 {
    font-family: Helvetica;
    font-size: 300.583333%;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}

h2 {
    color: #ffffff;
    float: right;
    font-size: 34px;
    margin: auto;
    padding-right: 20px;
}

h3 {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: lighter;
    margin: 20px auto;
}

h4 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

h5 {
    color: #ffffff;
    display: inline-block;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 4px;
    line-height: 0.9;
    text-align: center;
}

h6 {
    color: #ff5d00;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}


/*copy content for dropdown menu*/

.dropbtn {
    background-color: #000000;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ff5d00;
}

.dropdown {
    display: inline-block;
    float: left;
    margin-top: 2.5px;
    padding-left: 10px;
    position: relative;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 12px;
    min-width: 160px;
    overflow: auto;
    position: absolute;
}

.dropdown-content a {
    color: #000;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
